@import "flatpickr/dist/flatpickr.min.css";
@import "flatpickr/dist/plugins/monthSelect/style.css";

.flatpickr-calendar {
    opacity: 1 !important;
    @apply bg-white dark:bg-gray-800 opacity-100;
}
.flatpickr-confirm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}